force-app/main/default/flows/Donor_Import_PayPal_Giving.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Flow_Guid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Contact</name>
        <label>Set Anonymous Contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Anonymous_Donor_PayPal_Giving</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Contact_2</name>
        <label>Set Anonymous Contact</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Anonymous_Donor_PayPal_Giving_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>380</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Disbursement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anonymous_Donor_PayPal_Giving_Exists</name>
        <label>Anonymous Donor PayPal Giving Exists</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Anonymous_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Anonymous_Donor_PayPal_Giving_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Anonymous_Donor_PayPal_Giving</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_Is_Anonymous</name>
        <label>Donation Is Anonymous</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Find_or_Create_Donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DonationIsAnonymous_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DonorImportLine.encdi2__Donor_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DonorImportLine.encdi2__Donor_Last_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Anonymous_Donor_PayPal_Giving</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>{!Contact.Name} + &apos; &apos; + TEXT({!DonorImportLine.encdi2__Disbursement_Date__c}) + TEXT({!DonorImportLine.encdi2__Amount__c})</expression>
    </formulas>
    <interviewLabel>Donor Import PayPal Giving {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Donor Import PayPal Giving</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Anonymous_Contact</name>
        <label>Create Anonymous Contact</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Anonymous_Donor_PayPal_Giving_2</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Anonymous Donor PayPal Giving</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Output_Variables</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Anonymous Donor PayPal Giving Contact</description>
        <name>Get_Anonymous_Donor_PayPal_Giving</name>
        <label>Get Anonymous Donor PayPal Giving</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anonymous_Donor_PayPal_Giving_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anonymous Donor PayPal Giving</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Anonymous_Donor_PayPal_Giving_2</name>
        <label>Get Anonymous Donor PayPal Giving</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Anonymous_Contact_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Anonymous_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Donation_Is_Anonymous</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_or_Create_Donor</name>
        <label>Find or Create Donor</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <name>Contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Input Donor Transaction Line to process</description>
        <name>DonorImportLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>encdi2__Donor_Import_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
