force-app/main/default/flows/Find_or_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Created_Contact_to_Output</name>
        <label>Assign Created Contact to Output</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_First_Email_Match_to_Output_Contact</name>
        <label>Set First Email Match to Output Contact</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Email_Match</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_First_Name_Match_to_Output_Contact</name>
        <label>Set First Name Match to Output Contact</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Name_Match</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the count of Email and Name matches</description>
        <name>Set_Total_Matches</name>
        <label>Set Total Matches</label>
        <locationX>292</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Total_Name_Matches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Email_Matches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_by_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Email_Match_Found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter out any Contacts whose Email is an exact match</description>
        <name>Filter_by_Email</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter by Email</label>
        <locationX>292</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Filter_by_Email</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Find_Contact</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Email.Email</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Email</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Total_Matches</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Was a Contact found whose Email was an exact match?</description>
        <name>Contact_Email_Match_Found</name>
        <label>Contact Email Match Found</label>
        <locationX>292</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Contact_Name_Match_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Email_Match_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Email_Matches</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Email_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a Contact found whose First and Last Names were matches?</description>
        <name>Contact_Name_Match_Found</name>
        <label>Contact Name Match Found</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Name_Match_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Name_Matches</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Name_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Finds a Contact by Name and Email, falling back to Name only. If none found, a Contact is created.</description>
    <environments>Default</environments>
    <interviewLabel>Find Matching Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find or Create Contact</label>
    <loops>
        <name>For_Each_Email_Match</name>
        <label>For Each Email Match</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Filter_by_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Email_Match_to_Output_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_Each_Name_Match</name>
        <label>For Each Name Match</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>Find_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Name_Match_to_Output_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Created_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find Contact by First Name and Last Name. Contacts will later be filtered by Email within the flow.</description>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>292</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_by_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Contact</name>
        <label>Get Created Contact</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Created_Contact_to_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Flow&apos;s output Contact variable - either a found or created Contact</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of Contacts whose Email is an exact match</description>
        <name>Total_Email_Matches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Contacts whose First and Last names are a match</description>
        <name>Total_Name_Matches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
